
<div class="bottom_header main_menu_uppercase">
  <div class="container">
    <div class="navbar navbar-expand-lg"><a class="navbar-brand" href="#"><img class="logo_dark" src="images/layout/logo_dark.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
        <ion-icon name="menu-outline"></ion-icon>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="dropdown"><a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#">Home
              <ion-icon name="chevron-down-outline"></ion-icon></a>
            <div class="dropdown-menu">
              <ul>
                <li><a class="dropdown-item nav-link nav_item" href="index.html">Fashion 1</a></li>
                <li><a class="dropdown-item nav-link nav_item" href="index.html">Fashion 2</a></li>
                <li><a class="dropdown-item nav-link nav_item" href="index.html">Furniture 1</a></li>
                <li><a class="dropdown-item nav-link nav_item" href="index.html">Furniture 2</a></li>
                <li><a class="dropdown-item nav-link nav_item" href="index.html">Electronics 1</a></li>
                <li><a class="dropdown-item nav-link nav_item" href="index.html">Electronics 2</a></li>
              </ul>
            </div>
          </li>
          <li class="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Pages
              <ion-icon name="chevron-down-outline"></ion-icon></a>
            <div class="dropdown-menu">
              <ul>
                <li><a class="dropdown-item nav-link nav_item" href="../components/About/about.html">About Us</a></li>
                <li><a class="dropdown-item nav-link nav_item" href="../components/Contact/contact.html">Contact Us</a></li>
                <li><a class="dropdown-item nav-link nav_item" href="faq.html">Faq</a></li>
                <li><a class="dropdown-item nav-link nav_item" href="404.html">404 Error Page</a></li>
                <li><a class="dropdown-item nav-link nav_item" href="../components/Login/login.html">Login</a></li>
                <li><a class="dropdown-item nav-link nav_item" href="../components/Register/register.html">Register</a></li>
                <li><a class="dropdown-item nav-link nav_item" href="term-condition.html">Terms and Conditions</a></li>
              </ul>
            </div>
          </li>
          <li class="dropdown dropdown-mega-menu"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Products
              <ion-icon name="chevron-down-outline"></ion-icon></a>
            <div class="dropdown-menu">
              <ul class="mega-menu d-lg-flex">
                <li class="mega-menu-col col-lg-3">
                  <ul>
                    <li class="dropdown-header">Woman&apos;s</li>
                    <li><a class="dropdown-item nav-link nav_item" href="shop-list-left-sidebar.html">Vestibulum sed</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="shop-left-sidebar.html">Donec porttitor</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="shop-right-sidebar.html">Donec vitae facilisis</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="shop-list.html">Curabitur tempus</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="shop-load-more.html">Vivamus in tortor</a></li>
                  </ul>
                </li>
                <li class="mega-menu-col col-lg-3">
                  <ul>
                    <li class="dropdown-header">Men&apos;s</li>
                    <li><a class="dropdown-item nav-link nav_item" href="../components/Cart/cart.html">Donec vitae ante ante</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="../components/Checkout/checkout.html">Etiam ac rutrum</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="wishlist.html">Quisque condimentum</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="compare.html">Curabitur laoreet</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="order-completed.html">Vivamus in tortor</a></li>
                  </ul>
                </li>
                <li class="mega-menu-col col-lg-3">
                  <ul>
                    <li class="dropdown-header">Kid&apos;s</li>
                    <li><a class="dropdown-item nav-link nav_item" href="../components/Product-detail/">Donec vitae facilisis</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="product-detail-left-sidebar.html">Quisque condimentum</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="product-detail-right-sidebar.html">Etiam ac rutrum</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="product-detail-thumbnails-left.html">Donec vitae ante ante</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="product-detail-thumbnails-left.html">Donec porttitor</a></li>
                  </ul>
                </li>
                <li class="mega-menu-col col-lg-3">
                  <ul>
                    <li class="dropdown-header">Accessories</li>
                    <li><a class="dropdown-item nav-link nav_item" href="../components/Product-detail/">Donec vitae facilisis</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="product-detail-left-sidebar.html">Quisque condimentum</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="product-detail-right-sidebar.html">Etiam ac rutrum</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="product-detail-thumbnails-left.html">Donec vitae ante ante</a></li>
                    <li><a class="dropdown-item nav-link nav_item" href="product-detail-thumbnails-left.html">Donec porttitor</a></li>
                  </ul>
                </li>
              </ul>
              <div class="d-lg-flex menu_banners">
                <div class="col-sm-4">
                  <div class="header-banner"><img src="images/layout/menu_banner1.jpg" alt="menu_banner1">
                    <div class="banner_info">
                      <h6>10% Off</h6>
                      <h4>Wooden Chair</h4><a href="#">Shop now</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="header-banner"><img src="images/layout/menu_banner2.jpg" alt="menu_banner2">
                    <div class="banner_info">
                      <h6>15% Off</h6>
                      <h4>Wooden Chair</h4><a href="#">Shop now</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="header-banner"><img src="images/layout/menu_banner3.jpg" alt="menu_banner3">
                    <div class="banner_info">
                      <h6>23% Off</h6>
                      <h4>Wooden Chair</h4><a href="#">Shop now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
               Blog
              <ion-icon name="chevron-down-outline"></ion-icon></a>
            <div class="dropdown-menu dropdown-reverse">
              <ul>
                <li><a class="dropdown-item menu-link dropdown-toggler" href="#">Grids
                    <ion-icon name="chevron-down-outline"></ion-icon></a>
                  <div class="dropdown-menu">
                    <ul>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-three-columns.html">3 columns</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-four-columns.html">4 columns</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-left-sidebar.html">Left Sidebar</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-right-sidebar.html">right Sidebar</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-standard-left-sidebar.html">Standard Left Sidebar</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-standard-right-sidebar.html">Standard right Sidebar</a></li>
                    </ul>
                  </div>
                </li>
                <li><a class="dropdown-item menu-link dropdown-toggler" href="#">Masonry
                    <ion-icon name="chevron-down-outline"></ion-icon></a>
                  <div class="dropdown-menu">
                    <ul>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-masonry-three-columns.html">3 columns</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-masonry-four-columns.html">4 columns</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-masonry-left-sidebar.html">Left Sidebar</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-masonry-right-sidebar.html">right Sidebar</a></li>
                    </ul>
                  </div>
                </li>
                <li><a class="dropdown-item menu-link dropdown-toggler" href="#">
                     Single Post
                    <ion-icon name="chevron-down-outline"></ion-icon></a>
                  <div class="dropdown-menu">
                    <ul>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-single.html">Default</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-single-left-sidebar.html">left sidebar</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-single-slider.html">slider post</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-single-video.html">video post</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-single-audio.html">audio post</a></li>
                    </ul>
                  </div>
                </li>
                <li><a class="dropdown-item menu-link dropdown-toggler" href="#">
                     List
                    <ion-icon name="chevron-down-outline"></ion-icon></a>
                  <div class="dropdown-menu">
                    <ul>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-list-left-sidebar.html">left sidebar</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="blog-list-right-sidebar.html">right sidebar</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="dropdown dropdown-mega-menu"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
               Shop
              <ion-icon name="chevron-down-outline"></ion-icon></a>
            <div class="dropdown-menu">
              <ul class="mega-menu d-lg-flex">
                <li class="mega-menu-col col-lg-9">
                  <ul class="d-lg-flex">
                    <li class="mega-menu-col col-lg-4">
                      <ul>
                        <li class="dropdown-header">Shop Page Layout</li>
                        <li><a class="dropdown-item nav-link nav_item" href="shop-list.html">shop List view</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="shop-list-left-sidebar.html">shop List Left Sidebar</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="shop-list-right-sidebar.html">shop List Right Sidebar</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="shop-left-sidebar.html">Left Sidebar</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="shop-right-sidebar.html">Right Sidebar</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="shop-load-more.html">Shop Load More</a></li>
                      </ul>
                    </li>
                    <li class="mega-menu-col col-lg-4">
                      <ul>
                        <li class="dropdown-header">Other Pages</li>
                        <li><a class="dropdown-item nav-link nav_item" href="../components/Cart/cart.html">Cart</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="../components/Checkout/checkout.html">Checkout</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="../components/MyAccount/myaccount.html">My Account</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="wishlist.html">Wishlist</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="compare.html">compare</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="order-completed.html">Order Completed</a></li>
                      </ul>
                    </li>
                    <li class="mega-menu-col col-lg-4">
                      <ul>
                        <li class="dropdown-header">Product Pages</li>
                        <li><a class="dropdown-item nav-link nav_item" href="../components/Product-detail/product-detail.html">Default</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="product-detail-left-sidebar.html">Left Sidebar</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="product-detail-right-sidebar.html">Right Sidebar</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="product-detail-thumbnails-left.html">Thumbnails Left</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="mega-menu-col col-lg-3">
                  <div class="header_banner">
                    <div class="header_banner_content">
                      <div class="shop_banner">
                        <div class="banner_img overlay_bg_40"><img src="images/layout/shop_banner1.jpg" alt="shop_banner"></div>
                        <div class="shop_bn_content">
                          <h5 class="text-uppercase shop_subtitle">New Collection</h5>
                          <h3 class="text-uppercase shop_title">Sale 30% Off</h3><a class="btn btn-white rounded-0 btn-sm text-uppercase" href="#">Shop Now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li><a class="nav-link nav_item" href="contact.html">Contact Us</a></li>
        </ul>
      </div>
      <ul class="navbar-nav attr-nav align-items-center">
        <li><a class="nav-link search_trigger" href="#">
            <ion-icon name="search-outline"></ion-icon></a>
          <div class="search_wrap"><span class="close-search">
              <ion-icon name="close-outline"></ion-icon></span>
            <form>
              <input class="form-control" id="search_input" type="text" placeholder="Search">
              <button class="search_icon" type="submit">
                <ion-icon name="search-outline"></ion-icon>
              </button>
            </form>
          </div>
          <div class="search_overlay"></div>
          <div class="search_overlay"></div>
          <div class="search_overlay"></div>
        </li>
        <li class="dropdown cart_dropdown"><a class="nav-link cart_trigger" href="#" data-toggle="dropdown">
            <ion-icon name="cart-outline"></ion-icon><span class="cart_count">2</span></a>
          <div class="cart_box dropdown-menu dropdown-menu-right">
            <ul class="cart_list">
              <li><a class="item_remove" href="#">
                  <ion-icon name="close-outline"></ion-icon></a><a href="#"><img src="images/layout/cart_thamb1.jpg" alt="cart_thumb1">Variable product 001</a><span class="cart_quantity">1 x <span class="cart_amount"><span class="price_symbole">$</span></span>78.00</span></li>
              <li><a class="item_remove" href="#">
                  <ion-icon name="close-outline"></ion-icon></a><a href="#"><img src="images/layout/cart_thamb2.jpg" alt="cart_thumb2">Ornare sed consequat</a><span class="cart_quantity">1 x <span class="cart_amount"><span class="price_symbole">$</span></span>81.00</span></li>
            </ul>
            <div class="cart_footer">
              <p class="cart_total"><strong>Subtotal:</strong><span class="cart_price"><span class="price_symbole">$</span></span>159.00</p>
              <p class="cart_buttons"><a class="btn btn-fill-line btn-radius view-cart" href="#">View Cart</a><a class="btn btn-fill-out btn-radius checkout" href="#">Checkout</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>