
<div class="header__top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="header__top-left d-flex align-items-center justify-content-center justify-content-md-start">
          <div class="language"><img src="../images/layout/eng.png" alt=""><span class="language-active">English</span><span><i class="fas fa-chevron-down"></i></span>
            <ul class="list-language">
              <li><img src="../images/layout/eng.png" alt="English"><span>English</span></li>
              <li><img src="../images/layout/fn.png" alt="France"><span>France</span></li>
              <li><img src="../images/layout/us.png" alt="United States"><span>United States</span></li>
            </ul>
          </div>
          <div class="currency"><span>USD</span><span> <i class="fas fa-chevron-down"></i></span>
            <ul class="list-currency">
              <li><span>USD</span></li>
              <li><span>EUR</span></li>
              <li><span>GBR</span></li>
            </ul>
          </div>
          <div class="phone-number"><span><i class="fas fa-mobile-alt"></i></span><span>123-456-7890</span></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="header__top-right text-md-right">
          <ul class="top__right-list justify-content-center justify-content-md-end">
            <li><a href="#"> <i class="fas fa-random"></i>Compare</a></li>
            <li><a href="#"> <i class="far fa-heart"></i>Wishlist</a></li>
            <li><a href="#"> <i class="fas fa-user"></i>Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>